{% extends "/base.jinja2" %}

{% block head %}
{% endblock %}

{% block body %}
    <div id="search_div">
        <tr><td>Customer:</td><td>{{ customer_full_name }} {{customer_id}}</td></tr>
</div>

<div id="list_div">    
    <br>
    <table border="1" width="1000">
    <th>Receipt ID</th>
    <th>Total</th>
    <th>Card Type</th>
    {% if receipts %}
        {% for receipt in receipts %}
            <tr>
                <td>{{ receipt.receipt_id }}</td>
                <td>${{ receipt.receipt_total }}</td>
                <td>{{ receipt.credit_card_type }}</td>
                <td><a href="/web/receipt?receipt_id={{ receipt.receipt_id }}">Details</a></td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
</div>
{% endblock %}

{% block tail %}
{% endblock %}




